.container {
    display: flex;
    flex-direction: column;
    width: 92.5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .restaurantDataContainer {
    margin-top: 20px; 
  }
  
  .dataItem {
    margin-bottom: 10px;
    font-size: 18px; 
  }

  .boldLabel {
    font-weight: bold;
    text-decoration: underline;
  }

  